@model IEnumerable<Biblioteca.Models.CreateBookModel>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>


        <div class="card-group gap-5">
        
        @foreach (var item in Model) {            
			<div class="card m-3 border rounded" style="width:20rem;">
                <img src="https://letsenhance.io/static/73136da51c245e80edc6ccfe44888a99/1015f/MainBefore.jpg" class="card-img-top img-fluid rounded-top" alt="...">
                    <div class="card-body">
                    <h5 class="card-title">@Html.DisplayFor(modelItem => item.NomeLivro)</h5>
                    <p class="card-text">Quantidade: <small class="text-body-secondary">@Html.DisplayFor(modelItem => item.Quantitie)</small></p>
                    <div class="d-flex flex-column mb-3 gap-2">
                            <a class="btn btn-info" asp-action="Edit" asp-route-id="@item.BookId">Edit</a>
                            <a class="btn btn-secondary" asp-action="Details" asp-route-id="@item.BookId">Details</a>
                            <a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.BookId">Delete</a>
                    </div>
                </div>
            </div>
        }
    </div>
